html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;  
    background-color: #f9f9f9;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;

    background-image: url("./assets/images/Lone-Flower.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-400 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-500 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-600 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a.hover{
    background-color: #f0f0f0;
    color: #333;
}

header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a0200;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color:#f0f0f0;
    margin: auto;
    font-size: 60px;
}

h2{
    text-align: center;
    color:#f0f0f0;
    margin-top: -300px;}

section {
    color: white;
}

#desktiop-section {
    display: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 30px;
}

nav {
    display: block;
    opacity: 1;
    position: relative;
    width: auto;
    background-color: #1a0200;
    text-align: right;
    margin-left: auto;
}

header button {
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: row;
}

nav ul li {
    border: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    color: white;
    text-align: center;
}


nav ul li a:hover{
    background-color: #444;
}

nav ul li a:active{
    background-color: #e01c1c;
}

.container section {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
}

.container section > * {
    flex: 1 1 300px;
    box-sizing: border-box;

}

/*Tablet*/
@media screen and (min-width: 760px) and (max-width: 1020px) {
    .container section {
        flex-direction: column;
    }
    .container section > * {
        flex: none;
        width: 100%;
    }
}

/*Desktop*/
@media screen and (min-width: 1400px) {

    nav {
        display: block;
        opacity: 1;
        position: relative;
        text-align: right;
        width: auto;
        margin-left: auto;
        background-color: #1a0200;
    }

    nav ul li {
        border: none;
        display: inline-block;
    }

    section{ 
        display: inline-block;
        width: 30%; 
    }

    #desktop-section{
        display: inline-block;

    }

    header button {
        display: none;
    }

    nav ul { 
        opacity: 1;
        display: block;
    }
    
    
}